@import "variable";
@import "extend";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    color: $secondary-color;
    background-color: $primary-color;

}

button {
    border: none;
    background: none;
    font-size: 1.4rem;
}

img {
    max-width: 100%;
    height: auto;
}
p{
    line-height: 20px;
}

header {
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url('../img/hero-bg.jpg');
    height: 100vh;
    padding-top: 40px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .container {
        padding: 0 100px;

        nav {
            display: flex;
            justify-content: space-between;

            ul {
                @extend %items-center;

                li {
                    a {
                        text-transform: uppercase;
                        margin-left: 30px;
                        color: $primary-color
                    }
                }
            }

            .login-bar {
                @extend %items-center;

                .select-flag {
                    @extend %items-center;

                    #flag {
                        background: none;
                        color: $primary-color;
                        border: none;
                        text-transform: uppercase;
                        margin-left: 8px;
                    }
                }
            }

            .login-btn {
                width: 100px;
                height: 40px;
                border: 1px solid $primary-color;
                border-radius: 6px;
                margin-left: 30px;
                color: $primary-color;
                cursor: pointer;

                &:hover {
                    background-color: $primary-color;
                    color: $accent-color;
                }
            }
        }

        .hero-content {
            color: $primary-color;
            text-align: center;
            width: 60%;
            margin: 0 auto;
            padding: 120px 0 180px;

            h1 {
                font-size: 7.2rem;
                text-transform: uppercase;
                letter-spacing: 3px;
            }

            p {
                font-size: 2.4rem;
                line-height: 36px;
                margin: 39px 0;
                padding: 0 80px;
                word-spacing: 3px;
            }

            button {
                width: 130px;
                height: 40px;
                border-radius: 6px;
                background-color: $primary-color;
                color: $accent-color;
                cursor: pointer;
                font-weight: 700;

                &:hover {
                    border: 1px solid $primary-color;
                    background: none;
                    color: $primary-color;
                }
            }
        }
    }

}

#about {
    color: $secondary-color;
    padding: 100px 0;

    .container {
        @extend %items-center;
        justify-content: space-between;
        padding: 0 150px;
        flex-wrap: wrap;

        .about-content {
            flex-basis: 45%;

            h3 {
                @extend %common-heading;
                text-align: left;
            }

            p {
                margin: 45px 0 25px;
            }

            a {
                color: $accent-color;
            }
        }

        .about-image {
            position: relative;

            .play-btn {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-color: $accent-color;
                @extend %items-center;
                justify-content: center;
                color: $primary-color;
                position: absolute;
                top: 37%;
                left: -30px;
            }
        }
    }
}

#features {
    padding: 80px 0 220px;
    background-color: #FAFAFA;;
    .container{
        padding: 0 130px;
        h3{
            margin-bottom: 50px;
            @extend %common-heading
        }
        .features-list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .feature-item {
                position: relative;
                flex-basis: 330px;
                div {
                    width: 285px;
                    background-color: $primary-color;
                    border-radius: 8px;
                    padding: 30px;
                    text-align: center;
                    position: absolute;
                    top: 65%;
                    left: 22px;
                    box-shadow: 1px 2px 8px lightgray;
                    h4{
                        font-size: $feature-item-heading;
                    }
                    p{
                        margin: 20px 0;
                    }
                    a{
                        color: $accent-color;
                    }
                }
            }
        }
    }
}

#technology {
    padding: 80px 0 120px;
    .container{
        padding: 0 130px;
        h3{
            margin-bottom: 50px;
            @extend %common-heading
        }
        .technology-list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .technology-item {
                flex-basis: 250px;
                text-align: center;
                .technology-item-head {
                    position: relative;
                    margin-top: 20px;
                    h4{
                        font-size: 100px;
                        color: rgba(16, 16, 16, 0.08);
                    }
                    img {
                        position: absolute;
                        right: 95px;
                        bottom: -5px;                    
                        width: 65px;
                    }
                }
                
                .technology-item-content {
                    border-radius: 8px;
                    margin-top: 20px;
                    h4{
                        font-size: $feature-item-heading;
                    }
                    p{
                        margin-top: 15px;
                        padding: 0 8px;
                    }
                }
            }
        }
    }
}

#stay-focus {
    color: $primary-color;
    background-color: $accent-color;
    padding: 100px 0;

    .container {
        @extend %items-center;
        justify-content: space-between;
        padding: 0 150px;
        flex-wrap: wrap;

        .stay-focus-content {
            flex-basis: 45%;

            h3 {
                @extend %common-heading;
                text-align: left;
            }

            p {
                margin: 45px 0 25px;
            }

            .icons {
                font-size: 32px;
                svg.svg-inline--fa {
                    margin-right: 20px;
                }
            }
        }
    }
}

#contact {
    background-color: $primary-color;
    padding: 100px 0;
    .container {
        display: flex;
        justify-content: space-between;
        padding: 0 150px;
        flex-wrap: wrap;

        .contact-content {
            flex-basis: 40%;

            h3 {
                @extend %common-heading;
                text-align: left;
            }

            p {
                margin-top: 60px;
                font-size: 1.6rem;
                line-height: 25px;
            }
        }
        .contact-form{
            flex-basis: 50%;
            .input-group{
                width: 100%;
                display: flex;
                justify-content: space-between;
                input{
                    width: 250px;
                }
            }
            input {
                width: 100%;
                display: block;
                height: 60px;
                color: #13274380;
                padding: 0 20px;
                border-radius: 6px;
                margin-bottom: 30px;
                border: 1px solid #333333;
            }
            select{
                width: 100%;
                display: block;
                height: 60px;
                color: #13274380;
                padding: 0 20px;
                border-radius: 6px;
                margin-bottom: 20px;
                border: 1px solid #333333;
            }
            button{
                width: 160px;
                height: 50px;
                background-color: $accent-color;
                text-transform: uppercase;
                color: $primary-color;
            }
        }
    }
}
footer {
    padding: 90px 0 40px;
    .container{
        padding: 0 150px;
                
        .footer-content{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-bottom: 70px;
            .footer-item{
                h4{
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 30px;
                }
                ul{
                    li{
                        font-size: 12px;
                        margin-bottom: 10px;
                    }
                }
            }
            .footer-social{
                ul{
                    .footer-social-icons{
                        .svg-inline--fa {
                            margin-right: 15px;
                        }
                        
                    }
                }
            }
        }
        .copyright{
            font-size: 12px;
        }
        
    }
}